html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Didot';
  src: url("../fonts/didot.woff") format("woff"), url("../fonts/didot.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Didot-bold';
  src: url("../fonts/didot_bold.woff") format("woff"), url("../fonts/didot_bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  height: 250px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid black;
  background: #bb402a;
  background-size: cover; }
  #mainContent img, #mainContent div {
    position: absolute; }

#logo {
  top: -1px;
  left: 8px; }

#stripBg {
  top: -350px;
  left: -130px; }

.strip {
  width: 13px;
  height: 400px;
  background: #FFF;
  -webkit-transform: rotate(43.5deg);
  -ms-transform: rotate(43.5deg);
  transform: rotate(43.5deg);
  top: 0; }

#images {
  width: 1340px;
  height: 149px;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(-24deg);
  -ms-transform: rotate(-24deg);
  transform: rotate(-24deg);
  top: 443px;
  left: -773px; }

.sprite {
  background: url(../img/frames.jpg) no-repeat;
  height: 149px;
  display: inline-block;
  -webkit-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  transform: translateX(-270px);
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.75); }

#image1 {
  width: 146px;
  background-position: 0 0; }

#image2 {
  width: 299px; }

#image3 {
  width: 443px; }

#image4 {
  width: 595px; }

#image5 {
  width: 745px; }

#image6 {
  width: 892px; }

#image7 {
  width: 1039px; }

.products {
  bottom: 4px;
  right: 4px;
  background-image: url(../img/products.png);
  background-repeat: no-repeat; }

#buyNow {
  width: 100px;
  height: 29px;
  background-position: -64px -90px;
  opacity: 1; }

#bgExit {
  position: absolute;
  width: 300px;
  height: 250px;
  cursor: pointer; }
