//  Colours
$white: #fff;
$blue: #fff;
$backgroundColor: #bb402a;

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin:0;
	padding:0;
}
@font-face {
	font-family: 'Didot';
	src:url('../fonts/didot.woff') format('woff'),
	url('../fonts/didot.ttf')  format('truetype');
	font-style:   normal;
	font-weight:  400;
}

@font-face{
	font-family:'Didot-bold';
	src: url('../fonts/didot_bold.woff') format('woff'),
	url('../fonts/didot_bold.ttf')  format('truetype');
	font-style:   normal;
	font-weight:  700;
}