@import '_settings';
@import '_config';
@import '_mixins';

body {
    margin: 0;
    padding: 0;

}

#mainContent {
    position: relative;

    overflow: hidden;
    box-sizing: border-box;
    width: $width;
    height: $height;
    cursor: pointer;
    transform: rotate(0deg);
    border: 1px solid black;
    background: $backgroundColor ;
    background-size:cover;
    img,div{
        position: absolute;
    }
}
#logo{
    top: -1px;
    left: 8px;
}

#stripBg{
    top: -350px;
    // width: 1000px;
    // height: 250px;
    left: -130px;
}
.strip{
    width: 13px;
    height: 400px;
    background: #FFF;
    transform: rotate(43.5deg);
    top: 0;
}

#images {
    width: 1340px; 
    height: 149px;
    transform-origin: top left;
    transform: rotate(-24deg);
    top: 443px;
    left: -773px;
}  
.sprite { 
    background: url(../img/frames.jpg) no-repeat;;
    height: 149px; 
    display:inline-block; 
    transform: translateX(-270px);
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.75);
    }
    #image1{ 
        width: 146px; background-position: 0 0 ;
    }
    #image2{ 
        width: 299px; ;
    }
    #image3{ 
        width: 443px; ;
    }
    #image4{ 
        width: 595px; ;
    }
    #image5{ 
        width: 745px; ;
    }
    #image6{ 
        width: 892px; ;
    }
    #image7{ 
        width: 1039px; ;
    }

    .products{
        bottom: 4px;
        right: 4px;
        background-image: url(../img/products.png);
        background-repeat: no-repeat;
    }
    #buyNow{
        width: 100px;
        height: 29px;
        background-position: -64px -90px;
        opacity: 1;
    }

#bgExit{
    position: absolute;
    width:$width;
    height:$height;
    cursor:pointer;
}
